{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}

{% if user.id == profile.user.id %}

<h1>Edit Your Profile</h1>
<div class="container">
    <div class="d-flex justify-content-center" >
      <form action = "" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}   
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
    
  {% else %}
        
        <p>How did you manage to end up here?</p>

            {% endif %}

{% endif %}
{% endblock content %}