<html>
    <head>
        <title>Django Blog</title>
    </head>
    <body>
       <header>
        <h1><a href="{% url 'home' %}">Loud Music</a></h1>
        </header>
        {% if user.is_authenticated %}
        <div class="topnav">
            <p>Logged in as {{user.username}}</p>
            <a href="{% url 'logout' %}">Log out</a>
            <a href="{% url 'post_new' %}">Create A Post</a>
            {% else %}
                <p>Have an account?</p> 
                <a href="{% url 'login' %}">Log in</a>
                <a href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
        </div>
           
            
       <div>
        {% block content %}

       
       {% endblock content %}
        </div>
        
       
       

    </body>
</html>