{% extends "base.html" %}

{% load static %}
{% block content %}



<div class="container">
    <div class="row">
      
        <div class="col-md-8 offset-md-2">
          <div class="card mb-3">
            <div class="card-body">
              <div class="media mb-3">
                {% if post.author.profile %}
                <a href="{% url 'profile_page' post.author.profile.pk %}">
                    {% if post.author.profile.profile_pic %}
                        <img src="{{ post.author.profile.profile_pic.url }}" class="mr-3 rounded-circle" alt="Profile Picture" style="width: 50px; height: 50px;">
                        {% endif %}
                </a>
                    {% else %}
                    <img src="{% static 'images/default_pic.png' %}" class="mr-3 rounded-circle" alt="Profile Picture" style="width: 50px; height: 50px;">
                        {% endif %}
                <div class="media-body">
                  <h5 class="mt-0">{{ post.author.username }}</h5>
                </div>
              </div>
              <h4>{{ post.band_name }} - {{ post.album_name }}</h4>
              <p>{{ post.body }}</p>
              <p>Rating: {{ post.rating }}</p>
              {% if user.id == post.author.id %}
                <p><a href="{% url 'post_delete' post.pk %}">Delete This Post</a> | <a href="{% url 'post_edit' post.pk %}">Update This Post</a> </p>
                    
    {% endif %}
            </div>
          </div>
        </div>
      
    </div>
  </div>
    

{% endblock content %}